.form {
    width: 100%;
    max-width: 750px;
    position: relative;
}

.form-field__label {
    display: inline-block;
    font-size: 18px;
    padding-top: 10px;

    @media screen and (min-width: 570px) {
        font-size: 20px;
    }

    @media screen and (min-width: 990px) {
        font-size: 22px;
    }
}

.fieldset__legend {
    opacity: 70%;
}

.form-field__input {
    width: 100%;
    padding: 5px;
    font-size: 18px;
}

.fieldset__textarea,
.form-field__textarea {
    width: 100%;
    padding: 5px;
}


.fieldset__select {
    padding-top: 5px;
}

.fieldset__note {
    opacity: 70%;
    margin: 10px 0px 0px 0px;
    font-size: 16px;   
    line-height: 1.4;
}

.order-options {
    &__size {
        margin-top: 20px;
    }

    &__cena {
        text-align: left;
        padding-right: 10px;
    }

    &__finalprice {
        display: flex;
    }

    @media screen and (min-width: 620px) {
        display: grid;
        grid-template-columns: 1fr 1fr auto auto;
        grid-template-rows: repeat(5, auto);
        grid-auto-flow: row;

        &__size {
            grid-column: 2 / 3;
            grid-row: 1 / 5;
            font-size: 18px;
            margin-top: 0;
        }

        &__2 {
            grid-row: 2 / 3;
            margin-top: 0px;
        } 

        &__3 {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        } 

        &__finalprice {
            grid-column: 3 / 4;
            grid-row: 5 / 6;
        }
    }
}

